<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <div class="wrapper">
            <%- include('./dashpartials/header') %>
        </div>
    </header>
    <div class="wrapper">
        <div class="error__block">
            <h2>Page do not found</h2>
            <span>Return to <a href="/main/user">main</a></span>
        </div>
    </div>
</body>
</html>