<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <div class="wrapper">
            <%- include('./dashpartials/header') %>
        </div>
    </header>
    <footer>
        <div class="wrapper">
            <%- include('./dashpartials/footer') %>
        </div>
    </footer>
</body>
</html>