<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <div class="wrapper">
            <%- include('./dashpartials/header') %>
        </div>
    </header>
    <div class="wrapper">
        <div class="block">
            <ul class="posts__list">
                <div class="posts__create">
                    <a class="posts__create__link text-white" href="/posts/user/create-post">+ Add post</a>
                </div>
                <%- include('./posts-item')%>
            </ul>
        </div>
    </div>
    <footer>
        <div class="wrapper">
            <%- include('./dashpartials/footer') %>
        </div>
    </footer>
</body>
</html>