<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <div class="wrapper">
            <%- include('./dashpartials/header') %>
        </div>
    </header>
    <div class="wrapper">
        <h3>We received your message, <%= username %>!</h3>
        <p>Now just wait for answer, it will back soon. Click <a href="/">here</a> to close.</p>
    </div>
    <footer>
        <div class="wrapper">
            <%- include('./dashpartials/footer') %>
        </div>
    </footer>
</body>
</html>