<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head') %>
</head>
<body>
    <header>
        <div class="wrapper">
            <%- include('../views/partials/header') %>
        </div>
    </header>
    <footer>
        <div class="wrapper">
            <%- include('../views/partials/footer') %>
        </div>
    </footer>
</body>
</html>