<nav class="footer__menu">
    <ul>
        <li><a href="/user/main">Main</a></li>
        <li><a href="/user/contacts">Contacts</a></li>
        <li><a href="/user/posts">Posts</a></li>
        <li><a href="/user/about-us">About Us</a></li>
    </ul>
</nav>
<nav class="footer__info">
    <ul>
        <li><a href="#">Who we are?</a></li>
        <li><a href="#">Infoline</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Billings</a></li>
    </ul>
</nav>